<section data-ng-controller="MonitorsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Monitors</h1>
    </div>
    <div><a href="/#!/monitors/create">Nieuwe monitor</a></div>
       
  <tabset justified="true">
    <tab data-ng-repeat="monitor in monitors" heading="{{monitor.title}}">
	<div class="pull-right" data-ng-show="authentication.user._id == monitor.user._id">
		<a class="btn btn-primary" href="/#!/monitors/{{monitor._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	{{monitor.content}}
    </tab>
  </tabset>
  
    <div class="list-group">
        <a data-ng-repeat="monitor in monitors" data-ng-href="#!/monitors/{{monitor._id}}" class="list-group-item">
            <small class="list-group-item-text">{{monitor.created | date:'medium'}} / {{monitor.user.displayName}}</small>
            <h4 class="list-group-item-heading">{{monitor.title}}</h4>
            <p class="list-group-item-text">{{monitor.content}}</p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!monitors.$resolved || monitors.length">
    	No monitors yet, why don't you <a href="/#!/monitors/create">create one</a>?
    </div>
</section>