<section data-ng-controller="MapsController" data-ng-init="find()">

	<div class="btn-toolbar" role="toolbar">
		     <div class="btn-group">
			    <button type="button" class="btn btn-default">
				<span translate>Filter</span>:
				<select ng-model="showCategory">
				    <option value=" " selected translate>All</option>
				    <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
				</select>				
			    </button>
		     </div>
	</div>
    
    <div class="row row-no-padding">
	<div class="col-xs-12 col-md-3"  ng-repeat="map in maps | orderBy:name | filter: {category: showCategory, active: true}">
	    <div class="list-group list-group-map">
		<a href="#!/maps/{{map._id}}" class="list-group-item active list-group-item-map">
		  
		  <h4 class="list-group-item-heading"><i class="{{map.icon}}"></i> {{map.title}}</h4>
		  <p class="list-group-item-text">{{map.description}}</p>
		  <p class="list-group-item-text">{{map.category.name}}</p>
		</a>
	    </div>
	</div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!maps.$resolved || maps.length">
    	<span translate>No maps yet, why don't you</span><a href="/#!/maps/create" translate>make</a> <span translate>one</span>?
    </div>
</sec