<section data-ng-controller="MapsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Kaarten</h1>
    </div>
    <div><a href="/#!/maps/create">Nieuwe kaart</a></div>
    <div deckgrid class="deckgrid" source="maps">
	<div class="photo">
	    <a href="#!/maps/{{card._id}}">
	
		<div class="photo-wrapper">
		    <img src="" data-ng-src="https://cdn1.iconfinder.com/data/icons/dot/256/man_person_mens_room.png" class="animation-fade" data-imageloaded data-loadedclass="animation-faded">
		</div>
	
		<div class="photo-description">
		    <h3>{{card.title}}</h3>
		    <p>{{card.created | date:'medium'}} / {{card.user.displayName}}</p>
		</div>
	    </a>
	</div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!maps.$resolved || maps.length">
    	Nog geen kaarten, waarom <a href="/#!/maps/create">maak</a> je er niet één?
    </div>
</sec