 <section data-ng-controller="MapsController" data-ng-init="findOne()">
       <div class="mapHeader">	      
	      <div class="btn-toolbar" role="toolbar">
		     <div class="btn-group">
			    <button type="button" class="btn btn-default">Kaart: {{map.title}}</button>
		     </div>
		     <div class="btn-group" >
			     <a class="btn btn-default" href="/#!/maps/{{map._id}}/edit">
				     <i class="glyphicon glyphicon-edit"></i>
			     </a>
			     <a type="button" class="btn btn-default" data-ng-click="remove();">
				     <i class="glyphicon glyphicon-trash"></i>
			     </a>
		     </div>
		     <div class="btn-group" dropdown>
			   <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
			     Kaartlagen <span class="caret"></span>
			   </button>
			   
			   <ul class="dropdown-menu" role="menu">
			     <li>
				  <accordion close-others="true">
					 <accordion-group heading="Achtergrondkaart">
					   <div class="btn-group  btn-wide">
					     <label ng-repeat="layer in baseLayers" class="btn btn-layers btn-wide" ng-model="radioModel" btn-checkbox>{{layer.name}}</label>
					 </div>
					 </accordion-group>
					 <accordion-group heading="Lagen">
					   <div class="btn-group btn-wide">
					     <label ng-repeat="layer in layers" class="btn btn-layers btn-wide" ng-model="checkModel[layer.id]" btn-checkbox>{{layer.name}}</label>
					   </div>
					 </accordion-group>
					 
				  </accordion>
			      </li>
			   </ul>
		     </div>
		     <div class="btn-group">
			    <div id="findbox" class="btn btn-default"></div>
		     </div>

	       </div>
       </div>
       <div>
	      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
       </div>
        <div>
	      <p class="lead" data-ng-init="loadLayers();">
		    <leaflet heightresize class="mapView"></leaflet>
	      </p>
        </div>
</section>