 <section data-ng-controller="MapsController" data-ng-init="findOne()">
	<div class="page-header">
		<h3>{{map.title}}</h3>
	</div>

	<div class="pull-right" data-ng-show="authentication.user._id == map.user._id">
		<a class="btn btn-primary" href="/#!/maps/{{map._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Aangemaakt op {{map.created | date:'mediumDate'}} door {{map.user.displayName}}</em>
	</small>
	<p class="lead" data-ng-init="loadLayers();">
		<leaflet center="center" defaults="defaults" layers="layers" maxBounds="maxBounds"></leaflet>
	</p>
</section>